
/*******************/
/* SERIES :: INTRO */
/*******************/

.series-intro {
	padding-top: 110px !important;
}


.series-intro--title {
	@extend %title--series;
	margin: 70px 0 10px;
	font-size: 5em;
	
	@media (min-width:600px){
		font-size: 9em;
	}
	line-height: 1em;
	font-weight:400;
	i {
		font-size: 0.6em;
		font-weight: 100;
	}
	color: $darkBlue;
	//white-space:nowrap;
}
.series-intro--subhead {
	@extend %title--series;
	color: $blue-1;
	font-size: 1.3em;
	margin-bottom: 50px;
}
.series-intro--summary {
	@extend %text--verbose;
	@media (min-width: 900px){ 
		width: 60%;
	}
	p {
		margin-bottom: 15px;
		color:#464646;
	}
	//color:#464646;
	//font-weight:600;
	
}

/*********************/
/* SERIES :: EXHIBIT */
/*********************/

.series-exhibit {
	.wrapper {
		font-size: 0;
	}
	.wrapper > * {
		display: inline-block;
		width: 50%;
		vertical-align: top;
	}
}

.series-exhibit--title {
	@extend %title--series;
	color: $noir-2;
	font-size: 2.5em;
}

.series-exhibit--specs {
	margin-top: 25px;
	border-collapse: collapse;
	font-size: 1rem;
	td,th {
		padding:10px 0;
		user-select: text;
		vertical-align: top;
		font-size: 0.9em;
		line-height: 1.5em;
	}
	th {
		color: $colors-emphasis;
		padding-right:14px;
		text-align:right;
		text-transform:uppercase;
	}
	td {
		padding-left: 7px;
		color: $colors-table-cell;
		text-align: left;
	}
	@media (max-width: 700px) {
		width: 100% !important;
	}
}

.series-exhibit--image {
	display: table-cell;
	width: 50%;
	text-align: right;
	img {
		max-width: 90%;
	}
	@media (max-width: 700px) {
		display: none !important;
	}
}

.series-exhibit--more {
	margin-top: 25px;
	a {
		box-sizing: border-box;
		display: inline-block;
		height: 30px;
		margin-left: (tan(25deg) * 30px) / 2;
		min-width: 180px;
		padding: 0 20px;
		position: relative;
		color: $noir-2;
		font-size: .8em;
		font-weight: 600;
		line-height: 30px;
		text-align: center;
		text-transform: uppercase;
		i {
			// font-style: normal;
		}
		small {
			color: $bluish-1;
			font-style: italic;
		}
	}
	a::before {
		@extend %pseudo;
		background: $white-1;
		transform: skewX(-25deg);
		transform-origin: left;
		z-index: -1;
		transition: all 300ms ease;
	}
	a:hover::before {
		background: $blue-3;
	}
}




