#site-footer {
	align-items: center;
	display: flex;
	height: 170px;
	justify-content: space-between;
	width: 100%;
	//background: $noir-1;
	background:$darkBlue;
		@media (max-width:700px){
	
		padding-top:40px;

	}
}
.footer--logo {
	//margin-top:300px;
	//position:relative;;
	height: 25px;
	margin-left: 60px;
		img {
			height: 80%;
			@media (min-width:420px){
				height: 130%;
	
			}			
		}

		@media (max-width:700px){
				//display:none;	
			//margin-left:80px;
			//margin-top:-100px;
		    position: absolute;
		    //margin-top: -35px;
		    //
		    margin-top:-30px;
		}
		
}
.footer--contact {
	color: $white-2;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	margin: 0 60px;
	text-align:right;
	font-weight:bold;
	font-style:italic;
	line-height: 14px;
	
	.address{
		margin-bottom:2px;
		span{
			//white-space:nowrap;
			//border:1px solid pink;
			display:block;
			@media (min-width:420px){
				display:inline-block;
			}
		}

	}

	@media(min-width:400px){
		.break{
			display:none;
		}
	}
	.phone, .fax, .email{	
		//font-size:.4em;
		font-size:8px;
		//line-height: 5.8px;
		a{
			
			padding: 0 0 0 .2em;
			font-weight:normal;
			font-style:normal;
			color:$lightBlue;
			font-size:10px;
			text-transform:none;
		}
	}

	@media (max-width:700px){
		text-align:left;
		/*float:left;*/
		margin-top:25px;
		position:absolute;

	}
}

#home-footer {
	height: 100px;
	position: relative;
	width: 100%;
	text-align: right;
	background: #364262;
	background: $nav-colors-tier-1;
}
.home-footer--display {
	bottom: 0;left: 0;
	display: none;
	height: 95%;
	position: absolute;
	@media (min-width: 820px) {
		display: block;
	}
}
.home-footer--contact {
	display: table;
	height: 100%;
	margin: 0 auto;
	padding-right: 30px;
	position: relative;
    em {
        display: inline-block;
        margin: 0px 10px;
    }
	// background: rgba(#182130, 0.2);
	address {
		color: #ffffff;
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		font-size: 0.75rem;
		font-style: italic !important;
	}
	@media (min-width: 820px) {
		position: absolute;
		top: 0; right: 0;
		width: auto;
		address {
			text-align: right;
		}
	}
}
/*
.home-footer--contact::before {
	@extend %pseudo;
	height: 0;
	padding-right: 20px;
	width: 0;
	border-style: solid;
	border-width: 0 0 85px (tan($reset)*90px);
	border-color: transparent;
	border-bottom-color: rgba(#182130, 0.2);
	transform: translateX(-100%);
}
*/
.home-footer--company {
	@extend %footer-strong;
	letter-spacing: 0.5px;
    font-size: 1.1em;
    line-height: 1.6em;
}
.home-footer--address {
	@extend %footer-lite;
    color: #d5d7f2;
    font-size: 1.1em;
    line-height: 1.5em;
    font-style: normal;
    text-transform: uppercase;
}
.home-footer--email, .home-footer--phone, .home-footer--fax {
	i {
		@extend %footer-strong;
		text-transform: none;
		font-size: 0.9em;
		font-style: italic;
        text-transform: uppercase;
        margin-right: 5px;
	}
	a {
		@extend %footer-lite;
		font-style: normal;
        font-size: 1.1em;
        color: #d5d7f2;
	}
}



#footer {
	height: 15vh;
	width: 100%;
	background-color: red;
	background-image: url('../img/footer-with-text.jpg');
	background-position: top right;
	background-size: cover;
	text-align: right;

	.contact {
		display: none;
		padding: 10px 25px;
		padding-left: 50px;
		//background: #dfe1e2;
		color: $footer-font-color;
		font-size: .9vw;
		letter-spacing: .2px;
		.company {
			font-size: 1.1em;
			font-weight: 700;
			text-transform: uppercase;
			display: block;
		}
		address {
			font-size: 1em;
			display: inline-block;

			.address {
				display: block;

			}
		}
	}
}

