#standardHX, #series72{ //These are the only two pages using these styles


/*****************/
/* PAGE WRAPPING */
/*****************/

.content-wrapper {
	padding-bottom: 100px !important;
}
.home .content-wrapper {
	padding-bottom: 0 !important;
}

/**********************/
/* CONTENT SECTIONING */
/**********************/
.section-content, .section-wrapper {
	position: relative;
	& > * {z-index: 2;}
	&::before, &::after {
		@extend %pseudo;
	}
}
.section-wrapper {
	@media (min-width:900px){
		padding: 80px 50px 60px;
	}
	padding: 80px 22px 50px;	
	&::before, &::after {
		z-index: 1;
	}
}
.section-wrapper:nth-last-child(1) {
	margin-bottom: 0;
}

.section-content {
	display: block;
	margin: 0 auto;
	max-width: 1000px;
	width: 100%;
	&::before, &::after {
		z-index: -1;
	}
	 //background: rgba(royalblue, 0.2);
}
.section-wrapper.apex {
	//margin-top: 0 !important;
	padding-top: $offset-normal;
	.section-content {
		padding-top: 40px;
	}
}


}





