
/*
#summary .section-content{ 

	position:relative;
	padding: 1em;
	//background:white;	
	width:100%;
    	padding-top: 80px;
    	//margin-bottom: -50px;


	@media (min-width: 700px) {
		transform: skewX(-20deg);
	}
	
}
#summary .specifcations--table td {
	position:relative;
	left:20px;
	@media (min-width: 700px) {
		padding: 0 !important;
	}
}

#summary table{ 
	position:relative;
	width: 100%;
	@media (min-width: 700px) {
		transform: skewX(20deg);

	}	

	
}



*/

#summary, #specifications {
	@media (max-width:600px){
	
	td, th{
		display:block;
	}
	}
	
}


#custom{
	color:#1F307F;
	font-weight:bold;

}

