.timer{
	position:absolute;
	z-index:9999;
	background:#4CAF50;
	right:10px;
	margin:10px;
	padding:10px;
}

#nav-header {
	position: fixed;
	top:0;left:0;
	width: 100%;
	@media (min-width:900px){
		width:1280px; 
		left: 0;
    		right: 0;
	}
	z-index: 50;
}

.brand {
	display: inline-block;
	height: 100%;
	padding: 0 3%;
	padding: 0 0 0 3%;
	margin-right:5%;
	width:28%;max-width:300px;
	//transform: skewX(-$slant-deg);
	transform-origin: top left;
	background: $nav-colors-brand;
	background: $darkBlue;
	
	.logo {
		display: block;
		height: 100%;width: 100%;
		position: relative;
		//transform: skewX($slant-deg);
		text-align: center;
		&:before {
			content: "";
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}
		img {
			box-sizing: border-box;
			display: inline-block;
			vertical-align: middle;
			width: 100%;
			padding:10px 0px 10px 100px;
			
			@media(min-width:1280px){
				padding: 10px 10px 10px 20px;
				
			}
		}
	}
	
}



#triangle{
    width: 13px;
    height: 0;
    border-right: 47px solid transparent;
    border-top: 100px solid #072542;
    z-index: -1;
    z-index: 2;
    position: relative;
    display: block;
    top: -100px;
    left: 300px;
}




#navbar {
	display: none;
	height: 100px;
	position: fixed;
	top:0;left:0;
	width: 100%;

	@media (min-width:900px){
		width:1280px;
		left:calc((100% - 1280px)/2);
	}
	
   	opacity: 0;
	ul.nav-tier {
		//border:1px solid red;
		display: block;
		position: absolute;
		width: 100%;
		//&.dirty:hover {
		//	display: block !important;
		//}
		li {
			//border:1px solid green;
			//top:-50px;
			//left:200px;
			//position:relative;
			


			display: inline;
			height: 100%;
			margin: 0;
			text-align: center;
			background: $nav-colors-tab;
			//&.has-children:hover > ul.dirty {
			//	display: block !important;
			//}
			/* highlight bubbling */
			// &:hover > span {
			// 	background: $nav-colors-select;
			// }
			span {
				display: inline-block;
				transform: skewX(-$slant-deg);
				//background: #364C61;
				//background:rgba(7, 37, 65, 0.75);
				&:hover {
					background: $nav-colors-select;
				}
			}
		}

		li:hover > ul {
			display:block;
		}
		a {
			color: $nav-font-color;
			font-family: $nav-font-family;
			letter-spacing: 1px;
			text-decoration: none;
			text-transform: uppercase;
			display: inline-block;
			min-width: 60px;
			padding: 0 .1em;
			position: relative;
			transform: skewX($slant-deg);
		}
		/* animations 	
		&.dirty {
			//animation: slide-out-top 150ms ease forwards;
		}
		&.dirty:hover, li.has-children:hover > .nav-tier.dirty {
			//animation: slide-in-top 150ms ease forwards;
		}
		*/

	}

	.nav-tier.nt-1 {
		background: $nav-colors-tier-1;
		height: 100px;
		top:0px;
		& > li:first-of-type {
			margin-left: -27px;
		}
		a {
			@include nav-font-tier1();
			line-height: 100px;
			padding: 0 1.5em;
		}
	}
	.nav-tier.nt-2 {
		background: $nav-colors-tier-2;
		display: none;
		height: 60px;
		top: 100%;
		z-index: -1;
		span {max-height: 60px;}
		a {
			@include nav-font-tier2();
			line-height:60px;
			padding: 0 1.5em;
		}
	}
	.nav-tier.nt-3 {
		background: $nav-colors-tier-3;
		display: none;
		height: 45px;
		top: 100%;
		z-index: -1;
		span {max-height: 45px;}
		a {
			@include nav-font-tier3();
			line-height: 45px !important;
			padding: 0 1.1em;
		}
	}
}

#mobile-header {
	height: 100%;
	background: $nav-colors-tier-1;
	.brand, .icons {
		display: inline-block;
	}
	.brand {
		height: 60px;
		max-width: 75%;
		width: auto;
		.logo {
			img {
				box-sizing: border-box;
				max-height: 100%;
				width: calc(100% - 20px);
				padding: 18px 15px;
				margin-left: 5px;
			}
		}
	}
	.icons {
		float: right;
		height: 100%;
		margin-right: 3%;
		width: 40px;
		a {
			line-height: 60px;
		}
		svg {
			height:40px;width: 40px;
			vertical-align: middle;
			
			position:absolute;
			top:0;
			right:0;
			z-index:9999;
			width: 20px;
			margin: 15px;
		}
	}	
}

@media (min-width: 900px) {
	#navbar {
		display: block;
        	opacity: 1;
	}
	#mobile-header {
		display: none;
      		opacity: 0;
	}
}

//#mobile-header .icons svg



